@model IEnumerable<Octokit.Repository>
<div class="container text-center mt-5">
    <div>
        <h3 class="display-4">
            Count of public repositories: @Model.Count()
        </h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Watchers count</th>
            <th scope="col">Language</th>
            <th scope="col">Deafult branch</th>
        </tr>
        </thead>
        <tbody>
        @{
            int id = 1;
        }
        @foreach (var repository in Model)
        {
            <tr>
                <td>@(id++)</td>
                <td>@repository.Name</td>
                <td>@repository.WatchersCount</td>
                <td>@repository.Language</td>
                <td>@repository.DefaultBranch</td>
            </tr>
        }
        </tbody>
    </table>
</div>